@import "bulma";


* {
  box-sizing: border-box;
  font-size: 62.5%;
  color:white;
  text-shadow: 1px 1px 2px black;
}

body{
  background: #26323A;
}


img{
  border-radius: 5px;
}

.header{
  height:600px;
  margin-bottom: 20px;
  position: relative;
  width: 100%; //fallback
}

.companyName{
  font-size: 12em;
  margin-left: 445px;
  padding-top: 50px;
  font-family: 'Pacifico', cursive;
  width:450px;

  span{
    color:yellow;
  }

  i.fa{
    color:yellow;
  }
}

.button.is-primary{
  float:left;
  display: inline;
  margin: 3px;
  border: 1px solid white;
  padding-top: 3px;
}

.midPage{
  height:600px;
  margin-bottom: 5px;
  position: relative;
  width: 100%; //fallback
}

.endPage{
  height:600px;
margin-bottom: 5px;
position: relative;
width: 100%; //fallback
clear: both;
margin-bottom: 20px;
}

.socialMedia{
  float:right;
  margin-top: 50px;
  padding:20px;
  position: absolute;
  left:920px;
  top:450px;
  border: 1px solid white;
  border-radius: 4px;
}

.headerImg{
  background-image: url("../images/insideview1.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.midImg{
  background-image:url("../images/secondimage.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.endImg{
  background-image:url("../images/thirdimage.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.middleContent{
  display: flex;
  flex-direction: row;
}

.wordLatestNews{
  font-family: 'Pacifico', cursive;
  border-bottom: 1px solid lightgrey;

}

.news{
  height:250px;
  width:350px;
  margin-top:20px;
  margin-left: 50px;
  margin-right: 12px;
  float:left;
  font-size: 2em;
  margin-bottom: 200px;


  .newsTitle{
    font-size: 1.5em;
  }

  .newsDate{
    font-size: 1em;
  }

  div{
    font-size: 1em;
  }

  p{
    border-right:1px solid lightgrey;
    padding-right: 20px;
  }
}

.todaysSpecial{

p{
  font-size: .7em;
}

div{
  font-family: 'Pacifico', cursive;
  border-bottom: 1px solid lightgrey;
}
img{
  border: 1px solid white;
}
.specialsTitle{
  font-size: 1em;
}
}

.location {
  text-align: center;
  height:250px;
  margin-top: 87px;
  margin-left: 50px;
  margin-right: 12px;
  float:left;
  border:1px solid lightgrey;
  border-radius: 5px;
  background: grey;
  color:black;
  padding-top: 10px;

  p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 2em;
  }
  .locationContact a {
    text-decoration: none;
    color: black;
  }
  a{
    font-size:1em;
  }
}

.locationTitle{
  font-size: 3em;
  margin-left: 50px;
  margin-top: 22px;
  font-family: 'Pacifico', cursive;
  border-bottom:1px solid lightgrey;
}

.todaysSpecial{
  height:250px;
  width:350px;
  margin-top:20px;
  margin-left: 50px;
  margin-right:0px;
  float:left;
  font-size: 2em;

  div{
    font-size: 1em;
    margin-bottom: 10px;
  }
  img{
    height: 245px;
    width: 315px;
    margin-top: 20px;
    }
  }

  p.specialDish{
    font-size:1em;
  }


.tabs{
  ul{
    font-size: 3em;
    font-family: 'Pacifico', cursive;
  }
}

.mainContent{
  width:765px;
  float:left;
  margin-top: 30px;
  margin-left: 230px;
  margin-right: 300px;
  margin-bottom: 50px;
}

.wordStory{
  text-align: center;
  font-size: 2em;
  font-family: 'Pacifico', cursive;
  border-bottom: 1px solid lightgrey;
  width: 120px;
  margin: auto;
  padding-bottom:10px;

}

.storyTitle{
  font-size: 4em;
}

.theStory{
  font-size: 1.5em;
  width:765px;
  line-height: 30px;
  text-align: center;

.paragraphStory{
  margin-top: 20px;
  font-size: 1em;
}

  img{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.storyImage img {
  height: 300px;
  width: 650px;
  position: center;
  margin-left: 50px;
}

.theMenu{
  width:765px;
  height: 500px;
  font-size: 3.5em;


  .menuTitle{
    font-size: 1.5em;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
    text-align: center;
    border-bottom: 1px solid white;
    width:300px;
    margin: auto;

  }

  .appetizersTitle{
    font-size: 1em;
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-top: 20px;

  }

  .appetizers{
    margin-bottom: 30px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;

  }

  .entreesTitle{
    font-size: 1em;
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
    text-align: center;

  }

  .entrees{
    margin-bottom: 30px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;

  }

  .sidesTitle{
    font-size: 1em;
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
    text-align: center;

  }

  .sides{
    margin-bottom: 30px;
    padding-bottom: 10px;

  }
}

.foodTitle{
  float:left;
  font-size: .6em;
}

.foodDescription{
  margin-bottom: 20px;
  font-size:1em;

}

.foodPrice{
  border-bottom: 1px dashed white;
  text-align: right;

}

i.fa {
  font-size: 225%;
  padding-right: 15px;
}


#theReservations{
  height: 500px;
  width:765px;
}

.label{
  font-size: 2em;
  color:white;
}

.button.is-link{
    color:#EE3B3B;
}

.hidden{
  display: none;
}

.sidebarContainer{
width: 1000px;
margin: auto;
clear: both;
text-align: center;
margin-bottom: 150px;

.wordGallery{
  font-size: 3em;
  font-family: 'Pacifico', cursive;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
  width:90px;
  margin:auto;
  margin-bottom: 30px;
}

img{
  width:200px;
  height:200px;
  clear: both;
  margin: 5px;
  border-radius: 2px;
  border: 1px solid lightgrey;
}
}

.footer{
  padding:20px;
  padding-top: 10px;
  background:black;

  div{
    float:left;
    margin-right: 100px;
    margin-left: 60px;
    font-size: 1em;
  }

  span{
    color:yellow;
  }

  .footerTitle{
    i.fa{
      color:yellow;
    }
  }
}
