@import "bulma";


* {
  box-sizing: border-box;
  font-size: 62.5%;
}

.header{

  height:450px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  position: relative;
}

.socialMedia{
  height:10px;
  width:200px;

  float:left;
  margin-top: 50px;
  padding:20px;
  position: absolute;
  left:920px;
  top:325px;
}

.headerImg{
  background-image: url("../images/insideview1.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.middleContent{
  display: flex;
  flex-direction: row;
}

.news{
  height:250px;
  width:350px;
  margin-top:20px;
  margin-left: 50px;
  margin-right: 12px;
  float:left;
  font-size: 3em;
}

.location {
  text-align: center;
  height:250px;
  width:350px;
  margin-top:20px;
  margin-left: 50px;
  margin-right: 12px;
  float:left;
  border:1px solid lightgrey;
  border-radius: 5px;

  .locationHeader{
    font-size: 2em;
    text-align: left;
    padding-left: 15px;
  }
  p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 2em;
  }
  .locationContact a {
    text-decoration: none;
    color: black;
  }
}

.todaysSpecial{
  height:250px;
  width:350px;
  margin-top:20px;
  margin-left: 50px;
  margin-right: 12px;
  float:left;
  font-size: 2em;
}

.tabs{
  ul{
    font-size: 3em;
  }
}

.mainContent{
  height:800px;
  width:765px;
  margin-left: 50px;
  margin-top:20px;
  float:left;
  margin-top: 90px;
}

.theStory{
  font-size: 1.5em;
  height: 500px;
  width:765px;
}

.theMenu{
  width:765px;
  height: 500px;
}

.theReservations{
  height: 500px;
  width:765px;
  font-size: 2em;
}

.hidden{
  display: none;
}

.active{
  background-color: white;
    border-color: #dbdbdb;
}

.sidebarContainer{
  display:flex;
  flex-direction: column;
}

.sidebar{
  float:right;
  height:200px;
  width:250px;
  margin-top: 20px;
  margin-left: 159px;
}
