@import "bulma";


* {
  box-sizing: border-box;
  font-size: 62.5%;
}

.header{
  height:450px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  position: relative;
}

.socialMedia{
  height:10px;
  width:200px;

  float:left;
  margin-top: 50px;
  padding:20px;
  position: absolute;
  left:920px;
  top:325px;
}

.headerImg{
  background-image: url("../images/insideview1.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.middleContent{
  display: flex;
  flex-direction: row;
}

.news{
  height:250px;
  width:350px;
  margin-top:20px;
  margin-left: 50px;
  margin-right: 12px;
  float:left;
  font-size: 2em;

  .newsDate{
    font-size: 1em;
  }

  div{
    font-size: 1em;
  }

  p{
    border-right:1px solid lightgrey;
    padding-right: 20px;
  }
}

.location {
  text-align: center;
  height:250px;
  width:350px;
  margin-top:20px;
  margin-left: 50px;
  margin-right: 12px;
  float:left;
  border:1px solid lightgrey;
  border-radius: 5px;

  .locationHeader{
    font-size: 2em;
    text-align: left;
    padding-left: 15px;
  }
  p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 2em;
  }
  .locationContact a {
    text-decoration: none;
    color: black;
  }
}

.todaysSpecial{
  height:250px;
  width:350px;
  margin-top:20px;
  margin-left: 50px;
  margin-right: 12px;
  float:left;
  font-size: 2em;

  div{
    font-size: 1em;
    margin-bottom: 10px;
  }
  img{
    height: 245px;
    width: 315px;
  }
}

.tabs{
  ul{
    font-size: 3em;
  }
}

.mainContent{
  height:800px;
  width:765px;
  margin-left: 50px;
  margin-top:20px;
  float:left;
  margin-top: 90px;
}

.storyTitle{
  font-size: 4em;
}

.theStory{
  font-size: 1.5em;
  height: 500px;
  width:765px;
  line-height: 30px;
}

.storyImage img {
  height: 300px;
  width: 650px;
  position: center;
  margin-left: 50px;
}

.theMenu{
  width:765px;
  height: 500px;
  font-size: 3.5em;

  .menuTitle{
    font-size: 2em;
    margin-bottom: 20px;
  }

  .appetizersTitle{
    font-size: 1em;
    margin-bottom: 10px;
  }

  .appetizers{
    margin-bottom: 30px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
  }

  .entreesTitle{
    font-size: 1em;
    margin-bottom: 10px;
  }

  .entrees{
    margin-bottom: 30px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
  }

  .sidesTitle{
    font-size: 1em;
    margin-bottom: 10px;
  }

  .sides{
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
}

.foodTitle{
  float:left;
}

.foodDescription{
  margin-bottom: 20px;
}

.foodPrice{
  border-bottom: 1px dashed black;
  text-align: right;
}

.theReservations{
  height: 500px;
  width:765px;
  font-size: 2em;
}

.hidden{
  display: none;
}

.sidebarContainer{
  display:flex;
  flex-direction: column;
}

.sidebar{
  float:right;
  height:200px;
  width:250px;
  margin-top: 20px;
  margin-left: 159px;
}

.photoBox img {
  height: 65%;
  width: 65%;
}
